<header class="header">
    <div class="container header-container">
        <div class="row">
            <div class="col-5">
                <a class="brand" href="/"><strong>Mutiny!</strong></a>
            </div>
            <div class="col-7">
                <nav id="nav" class="nav nav-masthead justify-content-right">
                    <a class="nav-link active" href="/index.html">Home</a>
                    <a class="nav-link" href="#">Getting Started</a>
                    <a class="nav-link" href="pages/philosophy.html">Concepts</a>
                    <a class="nav-link" href="#">Documentation</a>
                    <a href="https://github.com/smallrye/smallrye-mutiny" target="_blank" title="Github"><i class="fab fa-github"></i></a>
                    <a href="https://stackoverflow.com/questions/tagged/mutiny" target="_blank" title="Stack Overflow"><i class="fab fa-stack-overflow"></i></a>
                </nav>
            </div>
        </div>
    </div>
</header>