<header class="header">
    <div class="container header-container">
        <div class="row">
            <div class="col-5">
                <a class="brand" href="{{ '/index.html' | relative_url }}"><strong>Mutiny!</strong></a>
            </div>
            <div class="col-7">
                <nav id="nav" class="nav nav-masthead justify-content-right">
                    <a class="nav-link active" href="{{ '/index.html' | relative_url }}">Home</a>
                    <a class="nav-link" href="{{ '/getting-started/getting-started' | relative_url }}">Getting Started</a>
                    <a class="nav-link" href="{{ '/pages/philosophy.html' | relative_url }}">Concepts</a>
                    <a class="nav-link" href="#">Documentation</a>
                    <a href="https://github.com/smallrye/smallrye-mutiny" target="_blank" title="Github"><i class="lab la-github la-2x"></i></a>
                    <a href="https://stackoverflow.com/questions/tagged/mutiny" target="_blank" title="Stack Overflow"><i class="lab la-stack-overflow la-2x"></i></a>
                </nav>
            </div>
        </div>
    </div>
</header>