.admonitionblock {
    p {
        font-size: .9375em;
        line-height: 1.8em;
        margin-bottom: .625rem;
    }
    strong {
        display: block;
        color: $font-color;
        font-family: $font-highlight;
        font-size: 1.133em;
        font-weight: 500;
        margin-bottom: .625rem;
    }
    .icon {
        display: none;
    }
}

.note {
    background-color: #f2f8ff;
    border-color: #deedff;
}

.important {
    background-color: #ffedeb;
    border-color: #ffdbd7;
}

.warning {
    background-color: #fffae9;
    border-color: #ffeeb6;
}

.tip {
    background-color: #eaffee;
    border-color: #cbffd5;
}

.las {
    font-size: larger;
}