.container-footer {
    border-top: 1px solid $border-color;
    height: 100%;
}

.footer {
    font-size: .875rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
    background-color: $background-footer;
    color: $font-footer-color;
    .sep-right {
        border-right: 1px solid $border-color;
    }
}