.container-footer {
    background-color: #f5f5f5;
    border-top: 1px solid $border-color;
    color: #bdbdbd;
    height: 100%;
}

.footer {
    font-size: .875rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
    background-color: #f5f5f5;
    color: #6f6970;
    .sep-right {
        border-right: 1px solid $border-color;
    }
}