.header {
    height: 5.625rem;
    background-color: $light-blue;
    padding-left: 15px;
    padding-right: 15px;
}

.brand {
    color: $dark-gray;
    font-family: $font-logo;
    font-weight: bold;
    font-size: 2em;

    letter-spacing: 1px;
    line-height: 5.625rem;
    text-decoration: none;
    border-bottom: 0;

    display: block;
    padding: 0 0 0.2rem;
    &:hover {
        text-decoration: none;
        color: $dark-gray;
    }
}

.container-banner {
    padding: 0;
    height: 5.625rem;
    background-color: $light-blue;
}

#nav {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    float: right;
    a {
        padding: 0;
        color: $dark-gray;
        margin-right: 15px;
        font-size: .875em;
        font-weight: 500;
        font-family: $font-highlight;
        line-height: calc(5.625rem - 1px);
        text-transform: uppercase;
        border-bottom: 1px solid;
        border-color: transparent;
        transition: color .2s;
        &:hover {
            color: $gray;
        }
    }

    .lab {
        position: relative;
        bottom: -.125rem;
    }
}