// Site global variables.

// Colors
$background-light: #B3DEE5;
$background-dark: #2B3E51;
$background: #FFFEFE;
$background-footer: #F1F1F1;

$blue: #FAE6B1;
$gray: #547AA0;
$highlight-color: #FFA101;
$dark-gray: #31525B;

$font-color: #333;
$code-color: #C0341D;
$font-footer-color: #5F5950;

//$light-blue: #E8F2FC;
//$blue: #DBEAFA;
//$gray: #AFC1D6;
//$yellow: #F6D000;
//$dark-gray: #253951;
//$font-color: #333;
//$code-color: #c0341d;
$border-color: rgba(37, 57, 81, 0.15);

$white: #FFFFFF;

// Fonts

$font-highlight: "Montserrat", sans-serif;
$font-code: "Source Code Pro", monospace;
$font-text: "Noto Sans", sans-serif;
$font-logo: 'Bangers', cursive;