--- 
    layout: base 
---

<section class="hero gs">
    <div class="hero-main container">
        <div class="row">
            <div class="hero-left col-12">
                <div class="hero-slogan">
                <h1 class="hero-name">{{ page.title }}</h1>
                </div>
                <div class="hero-desc">
                    {{ page.desc}}
                </div>
                <div class="hero-buttons">
                {% if page.previous %}<a href="{{ page.previous-href }}" class="btn btn-rounded button button-dark button-rounded">
                <i class="far fa-arrow-alt-circle-left"></i>&nbsp;{{ page.previous }}</a>
                {% endif %}
                {% if page.next %}
                <a href="{{ page.next-href }}" class="btn btn-rounded button button-dark button-rounded">
                {{ page.next }}&nbsp;<i class="far fa-arrow-alt-circle-right"></i></a>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container page-content">
    <div class="row">
        <div class="col-md-8">
        {{ content }}
    </div>
    <div class="col-md-4 col-md-offset-1 toc-container" >
        <div class="page-toc affix-toc" data-offset-top="10" data-offset-bottom="200" data-spy="affix">
            {{ page.document | tocify_asciidoc }}
        </div>
    </div>
    </div>
</div>



<div class="footer-buttons gs">    
<div class="container">
<div class="row">
<div class="col-12">
{% if page.previous %}
<a href="{{ page.previous-href }}" class="previous">
    <i class="fas fa-arrow-left"></i>&nbsp;{{ page.previous }}</a>
    {% endif %}
    {% if page.next %}
    <a href="{{ page.next-href }}" class="next">
    {{ page.next }}&nbsp;<i class="fas fa-arrow-right"></i></a>
    {% endif %}
</div>
</div>
    
</div>